<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main-container">
            {{>products}}
        </div>
        {{>footer}}

    </body>
</html>